<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
<!--        <div class="logo">TECOSTA 2026</div>-->
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1 class="page-title">> ABOUT</h1>

        <section class="help-content">
            <div class="faq-item">
              <p class="summary-text">
                TECHFEST is the flagship technical fest of Mar Thoma College of Science and Technology, Ayur, designed to bring together innovation,
                creativity, and technology on a single platform. The fest aims to inspire young minds, encourage technical excellence, and bridge the
                gap between academia and industry.
              </p>
            </div>

          <div class="faq-item">
            <p class="summary-text">
                TECHFEST promises high visibility, strong engagement, and meaningful brand exposure for our sponsors. Promote technical skills and innovation among students.
                Provide hands-on exposure to real-world technologies Encourage teamwork, creativity, and problem-solving. Create a platform for industry–student
                interaction.Offer brands direct access to future professionals and tech enthusiasts.
            </p>
          </div>
        </section>
    </main>

    <footer class="footer">
        &copy; 2026 BSc Computer Science | Mar Thoma College of Science & Technology, Ayur
    </footer>

</body>
</html>