<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dynamic-bg" style="--bg-image: url('/static/viking.jpeg');">

    <nav class="navbar">
<!--        <div class="logo">TECOSTA 2026</div>-->
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>

    <header class="hero">
        <div class="hero-content">
            <p class="date-badge">FEBRUARY 4 & 5 2026</p>
            <h1 class="highlight1">BEYOND CODE.<span class="highlight">BEYOND LIMITS.</span></h1>
            <p class="description">
                The technical event is conducted by the Department of Computer Science at The Mar Thoma College of Science & Technology, Ayur.
            </p>
            <div class="cta-buttons">
                <a href="/events" class="btn btn-primary">Explore Events</a>
                <a href="/help" class="btn btn-secondary">Get Help</a>
            </div>
        </div>
    </header>

    <div class="info-card">
        <p class="description">
            This TechFest is more than just a fest — it is a celebration of technology, creativity, and youth energy. We sincerely invite your
            esteemed organization to partner with us and become a part of this vibrant technical movement while gaining valuable brand
            exposure.
        </p>
    </div>

    <div class="contact-grid">
        <div class="contact-card">
            <p class="desc">Events</p>
            <img src="/static/performance.jpg">
        </div>

        <div class="contact-card">
            <p class="desc">Games</p>
            <img src="/static/game.jpg">
        </div>

        <div class="contact-card">
            <p class="desc">Treasure Hunt</p>
            <img src="/static/treasure.jpg">
        </div>
    </div>

    <footer class="footer">
        &copy; 2026 Jeffin Belly | Mar Thoma College of Science and Technology, Ayur
    </footer>

</body>
</html>